{
  "openapi": "3.1.0",
  "info": {
    "title": "Umbrella KYB API",
    "version": "1.0.0",
    "description": "Know Your Business — company search and data enrichment from official registers and aggregated sources."
  },
  "servers": [
    {
      "url": "https://api-umbrella.io/api/services",
      "description": "Production"
    },
    {
      "url": "https://sandbox-umbrella-api.azurewebsites.net/api/services",
      "description": "Sandbox"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token obtained from POST /auth. Valid for 60 minutes."
      }
    }
  },
  "paths": {
    "/auth": {
      "post": {
        "summary": "Authenticate",
        "description": "Obtain a Bearer token using your `Api-Key` and `Customer-Id` headers. The token is valid for 60 minutes and must be included as `Authorization: Bearer <access_token>` in all subsequent requests.",
        "parameters": [
          {
            "in": "header",
            "name": "Api-Key",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Your API key.",
            "example": "40ab0d69-fc3e-5fea-bfa8-b94e93462ad9"
          },
          {
            "in": "header",
            "name": "Customer-Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Your customer ID.",
            "example": "16a6c3e7-7a76-4714-9b34-97135ab4bdcd"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/x-www-form-urlencoded"]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {}
        },
        "responses": {
          "200": {
            "description": "Authentication successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "JWT Bearer token for use in subsequent requests."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token validity in seconds.",
                      "example": 3600
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    }
                  }
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "expires_in": 3600,
                  "token_type": "Bearer"
                }
              }
            }
          }
        }
      }
    },
    "/kyb/search": {
      "post": {
        "summary": "Search Company",
        "description": "Search for a legal entity by name (fuzzy) or registration number (exact). Exactly one of `name` or `companyNo` must be provided — not both. Returns one or more candidate matches, each with a `companyId` and `transactionId` to be passed to `/kyb/company/details`.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["country"],
                "oneOf": [
                  { "required": ["name"] },
                  { "required": ["companyNo"] }
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Company name. Fuzzy matching applied.",
                    "example": "IDCanopy Group Ltd"
                  },
                  "companyNo": {
                    "type": "string",
                    "description": "Official registration number. Exact match.",
                    "example": "16262990"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code.",
                    "example": "GB"
                  },
                  "locality": {
                    "type": "string",
                    "description": "City or locality to narrow results.",
                    "example": "London"
                  }
                }
              },
              "examples": {
                "byName": {
                  "summary": "Search by name",
                  "value": {
                    "name": "IDCanopy Group Ltd",
                    "country": "GB",
                    "locality": "London"
                  }
                },
                "byNumber": {
                  "summary": "Search by registration number",
                  "value": {
                    "companyNo": "16262990",
                    "country": "GB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One or more matching companies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "description": "`true` on success."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transactionId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Session token — pass to `/kyb/company/details`."
                          },
                          "companyId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Umbrella company identifier — pass to `/kyb/company/details`."
                          },
                          "name": { "type": "string" },
                          "status": { "type": "string", "description": "e.g. `active`, `dissolved`" },
                          "registrationNumber": { "type": "string" },
                          "addressLine": { "type": "string" },
                          "country": { "type": "string" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "data": [
                    {
                      "transactionId": "a8b89ef3-9d93-4d96-a495-be605fd1b2fe",
                      "companyId": "223c8dde-9c82-4811-ba3c-4f9fe648c2da",
                      "name": "IDCANOPY GROUP LTD",
                      "status": "active",
                      "registrationNumber": "16262990",
                      "addressLine": "71-75 Shelton Street, Covent Garden, London, United Kingdom, WC2H 9JQ",
                      "country": "GB"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/kyb/company/details": {
      "post": {
        "summary": "Get Company Details",
        "description": "Retrieve the full company record for a resolved entity. Use the `transactionId` and `companyId` from a prior `/kyb/search` call. The `include` object controls which data packages are returned and billed.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transactionId", "companyId"],
                "properties": {
                  "transactionId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "From the `/kyb/search` response.",
                    "example": "a8b89ef3-9d93-4d96-a495-be605fd1b2fe"
                  },
                  "companyId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "From the `/kyb/search` response.",
                    "example": "223c8dde-9c82-4811-ba3c-4f9fe648c2da"
                  },
                  "include": {
                    "type": "object",
                    "description": "Data packages to retrieve. All default to `false`. Each enabled package is priced separately.",
                    "properties": {
                      "officers": {
                        "type": "boolean",
                        "description": "Directors, managing partners, and authorised signatories with roles, tenure, and signature rights."
                      },
                      "addresses": {
                        "type": "boolean",
                        "description": "All registered and business addresses (structured and single-line)."
                      },
                      "ownerships": {
                        "type": "boolean",
                        "description": "Shareholder and UBO data including holding percentages, capital, and voting rights."
                      },
                      "transparency": {
                        "type": "boolean",
                        "description": "Transparency register entries. Returns a list with `linkToken` values. Retrieve files via `/kyb/company/document/retrieve`."
                      },
                      "documents": {
                        "type": "boolean",
                        "description": "Official company documents. Returns a list with `linkToken` values. Retrieve files via `/kyb/company/document/retrieve`."
                      },
                      "financials": {
                        "type": "boolean",
                        "description": "Financial data such as balance sheet and revenue figures."
                      }
                    }
                  },
                  "timeoutMs": {
                    "type": "integer",
                    "description": "Request timeout in milliseconds.",
                    "example": 30000
                  }
                }
              },
              "example": {
                "transactionId": "a8b89ef3-9d93-4d96-a495-be605fd1b2fe",
                "companyId": "223c8dde-9c82-4811-ba3c-4f9fe648c2da",
                "include": {
                  "officers": true,
                  "addresses": true,
                  "ownerships": true,
                  "transparency": true,
                  "documents": true,
                  "financials": false
                },
                "timeoutMs": 30000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Full company record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "company": {
                          "type": "object",
                          "properties": {
                            "legalName": { "type": "string" },
                            "tradingNames": { "type": "array", "items": { "type": "string" } },
                            "status": { "type": "string" },
                            "companyType": {
                              "type": "object",
                              "properties": {
                                "native": {
                                  "type": "object",
                                  "properties": {
                                    "value": { "type": "string" },
                                    "language": { "type": "string" },
                                    "source": { "type": "string" }
                                  }
                                },
                                "modeled": {
                                  "type": "object",
                                  "properties": {
                                    "value": { "type": "string" },
                                    "scheme": { "type": "string" },
                                    "source": { "type": "string" }
                                  }
                                }
                              }
                            },
                            "incorporationDate": { "type": "string", "format": "date-time" },
                            "registrationDate": { "type": ["string", "null"], "format": "date-time" },
                            "country": { "type": "string" },
                            "registeredAddress": {
                              "type": "object",
                              "properties": {
                                "singleLine": { "type": "string" },
                                "structured": {
                                  "type": "object",
                                  "properties": {
                                    "line1": { "type": ["string", "null"] },
                                    "line2": { "type": ["string", "null"] },
                                    "city": { "type": ["string", "null"] },
                                    "postalCode": { "type": ["string", "null"] },
                                    "region": { "type": ["string", "null"] },
                                    "country": { "type": "string" }
                                  }
                                }
                              }
                            },
                            "businessAddress": {
                              "type": "object",
                              "properties": {
                                "singleLine": { "type": ["string", "null"] },
                                "structured": {
                                  "type": "object",
                                  "properties": {
                                    "line1": { "type": ["string", "null"] },
                                    "line2": { "type": ["string", "null"] },
                                    "city": { "type": ["string", "null"] },
                                    "postalCode": { "type": ["string", "null"] },
                                    "region": { "type": ["string", "null"] },
                                    "country": { "type": ["string", "null"] }
                                  }
                                }
                              }
                            },
                            "identifiers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "scheme": { "type": "string" },
                                  "value": { "type": "string" },
                                  "country": { "type": "string" }
                                }
                              }
                            },
                            "industryCodes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "scheme": { "type": "string" },
                                  "code": { "type": "string" },
                                  "label": { "type": "string" }
                                }
                              }
                            },
                            "website": { "type": ["string", "null"] }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "confidence": { "type": "number", "minimum": 0, "maximum": 1 },
                        "completeness": { "type": "number", "minimum": 0, "maximum": 1 },
                        "source": { "type": ["string", "null"] },
                        "sourceTst": { "type": ["string", "null"], "format": "date-time" }
                      }
                    }
                  }
                },
                "example": {
                  "status": true,
                  "data": {
                    "company": {
                      "legalName": "IDCANOPY GROUP LTD",
                      "tradingNames": [],
                      "status": "active",
                      "companyType": {},
                      "incorporationDate": "2025-02-19T00:00:00.000Z",
                      "registrationDate": null,
                      "country": "GB",
                      "registeredAddress": {
                        "singleLine": "71-75 Shelton Street, WC2H 9JQ London, United Kingdom",
                        "structured": {
                          "line1": "71-75 Shelton Street",
                          "line2": null,
                          "city": "London",
                          "postalCode": "WC2H 9JQ",
                          "region": null,
                          "country": "GB"
                        }
                      },
                      "businessAddress": {
                        "singleLine": null,
                        "structured": {
                          "line1": null,
                          "line2": null,
                          "city": null,
                          "postalCode": null,
                          "region": null,
                          "country": "GB"
                        }
                      },
                      "identifiers": [
                        { "scheme": "REGISTRATION_NUMBER", "value": "16262990", "country": "GB" }
                      ],
                      "industryCodes": [],
                      "website": null
                    }
                  },
                  "metadata": {
                    "confidence": 0.85,
                    "completeness": 0.71,
                    "source": "Companies House",
                    "sourceTst": "2025-06-01T10:00:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kyb/company/document/retrieve": {
      "post": {
        "summary": "Retrieve Company Document",
        "description": "Retrieves a company document or transparency register entry using the `linkToken` obtained from `/kyb/company/details`. Returns a binary file stream (typically PDF). `linkToken` values are scoped to the originating `transactionId` and `companyId`.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transactionId", "companyId", "linkToken"],
                "properties": {
                  "transactionId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "a8b89ef3-9d93-4d96-a495-be605fd1b2fe"
                  },
                  "companyId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "223c8dde-9c82-4811-ba3c-4f9fe648c2da"
                  },
                  "linkToken": {
                    "type": "string",
                    "description": "Opaque token from the `documents` or `transparency` list in the details response.",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  }
                }
              },
              "example": {
                "transactionId": "a8b89ef3-9d93-4d96-a495-be605fd1b2fe",
                "companyId": "223c8dde-9c82-4811-ba3c-4f9fe648c2da",
                "linkToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Binary file stream. `Content-Type` header reflects the file format (typically `application/pdf`).",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  }
}
